@{ 
	ViewBag.Title = "Balance General";
}
<div class="container">
    <div class="shadow-lg p-3 mt-2 mb-4 text-center bg-light rounded">
        <h1>
            @ViewBag.Title <a href="javascript:history.back()"><img src="~/img/return-back.svg" alt="Regresar" class="img-fluid img-thumbnail p-1 rounded float-right" style="height:35px;"/></a>
        </h1>
    </div>
</div>
