<table id="tabla" class="table table-sm table-hover table-striped table-responsive-lg compact w-100">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Banco</th>
			<th>Cuenta</th>
			<th>CLABE</th>
			<th>AMEX</th>
			<th>Celular</th>
			<th>Correo</th>
			<th>Estado</th>
			<th></th>
		</tr>
	</thead>
</table>
