
<footer class="text-muted mt-5 pb-3 gx-0">
	<div class="col-12 col-sm-11">
	    <small class="float-end">
            <b>e-mail: </b> <a href="mailto:desarrollo@aeronavestsm.com?Subject=Seguimiento%20de%20vuelo" class="">desarrollo@aeronavestsm.com</a> |
		    <b>Tel: </b> <a href="tel:8448669330">844 866 9330</a> <span>Ext. 1902</span> |
            <b>Celular: </b> <a href="tel:8444444868">844 444 4868</a> | 
            <a href="https://api.whatsapp.com/send?phone=+528444444868&text=Seguimiento%20de%20vuelo"><i class="fab fa-whatsapp"></i></a>
        </small>
    </div>
	<div class="col col-sm-1"></div>
</footer>
