@{
	ViewBag.Title = "Administrador";
}
<div class="container">
    <div class="shadow-lg p-3 mt-2 mb-4 text-center bg-light rounded"><h1>Administrador</h1></div>
	<div class="row justify-content-around">
		<div class="col-6 col-md-3 mt-2">
			<a href="Perfil/" class="text-decoration-none">
			    <div class="card bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title text-body">Perfiles</h5>
						<img src="~/img/user-profile-square-button.svg" alt="Crew" class="img-fluid img-thumbnail p-2 rounded" style="height:80px;"/>
                    </div>
                </div>
            </a>
        </div>
		<div class="col-6 col-md-3 mt-2">
			<a href="Usuario/" class="text-decoration-none">
			    <div class="card bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title text-body">Usuarios</h5>
						<img src="~/img/users.svg" alt="Crew" class="img-fluid img-thumbnail p-2 rounded" style="height:80px;"/>
                    </div>
                </div>
            </a>
        </div>
	</div>
</div>
