@{ 
	ViewBag.Title = "Catalogos";
}
<div class="container">
    <div class="shadow-lg p-3 mt-2 mb-4 text-center bg-light rounded"><h1>Catalogos</h1></div>
	<div class="row justify-content-around">
		<div class="col-6 col-md-3 mt-2">
			<a href="Divisa" class="text-decoration-none">
			    <div class="card bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title text-body">Divisa</h5>
						<img src="~/img/currency-exchange.svg" alt="Crew" class="img-fluid img-thumbnail p-2 rounded" style="height:80px;"/>
                    </div>
                </div>
            </a>
        </div>
		<div class="col-6 col-md-3 mt-2">
			<a href="Saldo" class="text-decoration-none">
			    <div class="card bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title text-body">Saldos</h5>
						<img src="~/img/bills.svg" alt="Crew" class="img-fluid img-thumbnail p-2 rounded" style="height:80px;"/>
                    </div>
                </div>
            </a>
        </div>
	</div>
</div>
