@{
	ViewBag.Title = "Reportes";
}
<div class="container">
    <div class="shadow-lg p-3 mt-2 mb-4 text-center bg-light rounded"><h1>Reportes</h1></div>
	<div class="row justify-content-around">
        @if (Funciones.VRoles("Operaciones").Status) {
		    <div class="col-6 col-md-3 mt-2">
			    <a href="Operaciones" class="text-decoration-none">
			        <div class="card bg-light">
                        <div class="card-body text-center">
                            <h5 class="card-title text-body">Operaciones</h5>
						    <img src="~/img/airport.svg" alt="Crew" class="img-fluid img-thumbnail p-2 rounded" style="height:80px;"/>
                        </div>
                    </div>
                </a>
            </div>
        }
        @if (Funciones.VRoles("Emisioines").Status) {
		    <div class="col-6 col-md-3 mt-2">
			    <a href="Emisiones" class="text-decoration-none">
			        <div class="card bg-light">
                        <div class="card-body text-center">
                            <h5 class="card-title text-body">Emisiones</h5>
						    <img src="~/img/plane.svg" alt="Crew" class="img-fluid img-thumbnail p-2 rounded" style="height:80px;"/>
                        </div>
                    </div>
                </a>
            </div>
        }
        @if (Funciones.VRoles("PosicioFlota").Status) {
		    <div class="col-6 col-md-3 mt-2">
			    <a href="PosFlota" class="text-decoration-none">
			        <div class="card bg-light">
                        <div class="card-body text-center">
                            <h5 class="card-title text-body">Posicionamiento de Flota</h5>
						    <img src="~/img/report.svg" alt="Pilotos" class="img-fluid img-thumbnail p-2 rounded" style="height:80px;"/>
                        </div>
                    </div>
                </a>
            </div>
		}
	</div>
</div>