@{
    
}

<div class="align-content-center">
	<table id="lista" class="table table-sm table-hover table-striped compact  w-100">
		<caption>Listado de Tipos de Vuelo</caption>
		<thead class="thead-dark">
			<tr>
				<th class="text-center">#</th>
				<th>Descripcion</th>
				<th>Estado</th>
				<th></th>
			</tr>
		</thead>
	</table>
</div>