@{
    
}


<table id="lista" class="table table-sm table-hover table-striped table-responsive-md compact w-100">
	<thead class="thead-dark">
		<tr>
			<th>#</th>
			<th>Codigo</th>
			<th>Clasificacion</th>
			<th>Descripcion</th>
			<th>Estado</th>
			<th></th>
		</tr>
    </thead>
</table>