@{ 
	Layout = null;
}
<!-- Main Content -->
<div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        @*Encabezado*@
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Status</h1>
            <button id="recalc" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-calculator"></i> Recalcular</button>
        </div>

        @*Items Mayores*@
        <div class="row">

            @foreach(var cMayor in ViewBag.mayores) {
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-2 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        @cMayor.Descripcion
                                    </div>
									<div id="contenido@(cMayor.Id)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			}

        </div>

        @*Tabla Reporte de Items*@
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    @*Titulo y Menu*@
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary d-inline">Resumen de <span id="titConTipo">Items</span> Instalados <span id="titConMay"></span> <span id="titConFam"></span> </h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-primary"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Formatos PDF:</div>
								<button id="pdf_general" class="dropdown-item">General</button>
								<button id="pdf_afac" class="dropdown-item">AFAC</button>
                            </div>
                        </div>
                    </div>
                    @*Formulario y Reporte*@
                    <div class="card-body">
						<div class="row mb-3">
							<div class="col-12 col-md-3">
                                <select class="form-select form-select-sm d-inline" aria-label="Item Mayor" id="idMayor"></select>
                            </div>
							<div class="col-12 col-md-1">
								<button class="btn btn-sm btn-outline-primary" id="rep"><i class="fas fa-sync-alt"></i></button>
                            </div>
                        </div>
						<div class="row justify-content-around">
							<div class="col-12">
                                <div class="table-responsive sz-font-725 w-100">
                                    <table id="reporte" class="table table-sm table-hover table-striped compact">
			                            <thead class="table-primary">
				                            <tr>
					                            @*<th>Tipo</th>*@
					                            <th>Tracking</th>
					                            <th>Designacion</th>
					                            <th>Serie</th>
					                            <th>PIC</th>
					                            <th>ATA</th>
					                            @*<th>Familia</th>*@
					                            <th>AD</th>
					                            <th>Descripcion</th>
					                            <th>Enmienda</th>
					                            <th>Fecha Efe</th>
					                            <th>Efectividad</th>
					                            <th>SB</th>
					                            <th>Rev</th>
					                            <th>Fecha Efe</th>
					                            <th>Threshold</th>
					                            <th>Limites</th>
					                            <th>Ultimo</th>
					                            <th>Siguiente</th>
					                            <th>Remanente</th>
				                            </tr>
			                            </thead>
		                            </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Area Libre OT's Abiertas*@
        <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Ordenes de Trabajo</h6>
                    </div>
                    <div class="card-body">
                        <h4 class="small font-weight-bold">WO 15 <span class="float-right">20%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">WO 20 <span class="float-right">40%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">WO 28 <span class="float-right">60%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 60%"
                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">WO 36 <span class="float-right">80%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Aeronave <span id="mat"></span></h6>
                    </div>
                    <div class="card-body">
						<div class="col-6">
                            <h6 class="m-0 font-weight-bold text-success" id="empresa"></h6>

                        </div>
						<div class="col-6">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="~/img/airplane-black-shape-ascending-rotated-to-right.svg" alt="Foto">
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            @RenderPage("~/Views/Shared/_Footer.cshtml")
        </div>
    </div>
</footer>
<!-- End of Footer -->