@{
    Layout = null;
}
<table id="tabReg" class="table table-sm table-condensed table-hover table-striped w-100 compact sz-font-725">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th class="text-nowrap">Cliente</th>
            <th>Razon Social</th>
            <th>RFC</th>
            <th>Tipo</th>
            <th>Conmutador</th>
            <th>Estatus</th>
            <th>Estado</th>
            <th>Ciudad</th>
            <th>Grupo</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>