<table id="tabReg" class="table table-sm table-bordered table-hover table-striped w-100 compact table-responsive-sm" style="font-size: .7em;">
    <thead class="thead thead-dark">
        <tr>
            <th>Id</th>
            <th class="text-nowrap">No Parte</th>
            <th class="text-nowrap">Descripcion</th>
            <th>Categoria</th>
            <th>UME</th>
            <th>Seriado</th>
            <th>Caducidad</th>
            <th>Calibracion</th>
            <th>Activo</th>
            <th>Minimo</th>
            <th>Maximo</th>
            <th>Reorden</th>
            <th>Equiv. Unit.</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>