

@{ 
    ViewBag.Title="Ficha";
}
<div class="container">
    <div class="shadow-lg p-3 mt-2 mb-4 text-center bg-light rounded"><h1>@ViewBag.Title</h1></div>
	<div class="row justify-content-around">
		<div class="col-6 col-md-3 mt-2">
			<a href="Informacion" class="text-decoration-none">
			    <div class="card bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title text-body">Informacion</h5>
						<img src="~/img/Curriculum.svg" alt="Crew" class="img-fluid img-thumbnail p-2 rounded" style="height:80px;"/>
                    </div>
                </div>
            </a>
        </div>
		<div class="col-6 col-md-3 mt-2">
			<a href="Documentos" class="text-decoration-none">
			    <div class="card bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title text-body">Documentos</h5>
						<img src="~/img/documents-folder.svg" alt="Crew" class="img-fluid img-thumbnail p-2 rounded" style="height:80px;"/>
                    </div>
                </div>
            </a>
        </div>
		<div class="col-6 col-md-3 mt-2">
			<a href="Cursos" class="text-decoration-none">
			    <div class="card bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title text-body">Cursos</h5>
						<img src="~/img/class.svg" alt="Crew" class="img-fluid img-thumbnail p-2 rounded" style="height:80px;"/>
                    </div>
                </div>
            </a>
        </div>
	</div>
</div>

