@{ 
	ViewBag.Title = "Captura Gastos";
	Usuario user = new Usuario(WebSecurity.CurrentUserId);
    var cuentas = user.GetAccounts();
}
<div class="container">
    <div class="shadow-lg p-3 mt-2 mb-4 text-center bg-light rounded">
        <h1>
            @ViewBag.Title <a href="javascript:history.back()"><img src="~/img/return-back.svg" alt="Regresar" class="img-fluid img-thumbnail p-1 rounded float-right" style="height:35px;"/></a>
        </h1>
    </div>
	<div class="row justify-content-around">
        @if (cuentas.FindIndex(cta => cta.Tipo.Nombre == "Pilotos") != -1) {
		    <div class="col-6 col-md-3 mt-2">
			    <a href="Piloto" class="text-decoration-none">
			        <div class="card bg-light">
                        <div class="card-body text-center">
                            <h5 class="card-title text-body">Pilotos</h5>
						    <img src="~/img/piloto.svg" alt="Crew" class="img-fluid img-thumbnail p-2 rounded" style="height:80px;"/>
                        </div>
                    </div>
                </a>
            </div>
		}
        @if (cuentas.FindIndex(cta => cta.Tipo.Nombre == "Caja Chica") != -1) {
		    <div class="col-6 col-md-3 mt-2">
			    <a href="Caja" class="text-decoration-none">
			        <div class="card bg-light">
                        <div class="card-body text-center">
                            <h5 class="card-title text-body">Caja Chica</h5>
						    <img src="~/img/caja.svg" alt="Caja" class="img-fluid img-thumbnail p-2 rounded" style="height:80px;"/>
                        </div>
                    </div>
                </a>
            </div>
		}
        @if (cuentas.FindIndex(cta => cta.Tipo.Nombre == "Viaticos") != -1) {
		    <div class="col-6 col-md-3 mt-2">
			    <a href="Viaticos" class="text-decoration-none">
			        <div class="card bg-light">
                        <div class="card-body text-center">
                            <h5 class="card-title text-body">Viaticos</h5>
						    <img src="~/img/viaticos.svg" alt="Viaticos" class="img-fluid img-thumbnail p-2 rounded" style="height:80px;"/>
                        </div>
                    </div>
                </a>
            </div>
		}
        @if (cuentas.FindIndex(cta => cta.Tipo.Nombre == "Representante Estacion") != -1) {
		    <div class="col-6 col-md-3 mt-2">
			    <a href="Representante" class="text-decoration-none">
			        <div class="card bg-light">
                        <div class="card-body text-center">
                            <h5 class="card-title text-body">Representantes</h5>
						    <img src="~/img/representantes.svg" alt="Representantes" class="img-fluid img-thumbnail p-2 rounded" style="height:80px;"/>
                        </div>
                    </div>
                </a>
            </div>
		}
	</div>
</div>
