@{
    
}
<table id="tabla" class="table table-sm table-hover table-striped table-responsive-md compact w-100">
	<thead class="thead-dark">
		<tr>
			<th>#</th>
			<th>Matricula</th>
			<th>Empresa</th>
			<th>Jump Seat</th>
			<th>Pasajeros</th>
			<th>Seguro</th>
			<th>Estado</th>
			<th></th>
		</tr>
    </thead>
</table>